body {
  padding-top: 36px;
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

.wrap {
  display: grid;
  grid-template-areas: "sidebar ... content content";
  margin: auto;
  width: 500px;
}

.sidebar {
  grid-area: sidebar;
  margin-right: 5px;
}

.content {
  grid-area: content;
}

.link {
  text-decoration: none;
  color: black;
}