.header {
  position: relative;
}

.header_elements {
  display: flex;
  justify-content: space-between;
}

.header_elementsImage {
  width: 150px;
}

.header_elementsText {
  padding-right: 20px;
}

.errorMessage {
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.element {
  list-style-type: none;
}